extends ../layout

block content
  form(method='POST', action='/login')
    legend Войти
    input(type='hidden', name='_csrf', value=_csrf)
    .col-sm-8.col-sm-offset-2
      if secrets.localAuth
        .form-group
          label.control-label(for='email') Email
          input.form-control(type='text', name='email', id='email', placeholder='Email', autofocus=true)
        .form-group
          label.control-label(for='password') Пароль
          input.form-control(type='password', name='password', id='password', placeholder='Пароль')
        .form-group
          button.btn.btn-primary(type='submit')
            i.fa.fa-unlock-alt
            | Войти
          a.btn.btn-link(href='/forgot') Забыли пароль ?
        hr
      .panel.panel-dafault
        .panel-heading
          h3
            span.social-border Войти как пользователь
        .panel-footer
          include ../partials/social-auth