extends ../layout

block content
  .page-header
    h1 Мои cобытия
  div(ng-controller='SelectAuthorsEventCtrl')
    h2 Созданные мной
    div.row.preview_event(
      ng-repeat="event in events.my"
      ng-click="viewEvent(event)"
    )
      .col-sm-10
        a.event_title(ng-href="/event/{{event._id}}") {{event.name}}
        div.event_date {{event.start.date}}
        div.event_address {{event.place.name}}
        div(style="margin-bottom: 10px;")

      .col-sm-2
        .btn-group
          a.btn.btn-default(ng-href="/event/{{event._id}}/edit", role="button") Редактировать
          //a.btn.btn-default(href="#", role="button") Удалить // TODO

    h2 Собираюсь пойти
    em TODO

    h2 Посещенные
    em TODO
