#disqus_thread
  script(src="//meetua.disqus.com/embed.js")
  noscript
    | Please enable JavaScript to view the
    a(href='http://disqus.com/?ref_noscript') comments powered by Disqus.
  a.dsq-brlink(href='http://disqus.com')
    | comments powered by
    span.logo-disqus Disqus

