#footer
  .container
    div.list-inline.pull-left © 2014 MeetUA

    // TODO: Add real Terms and Privacy in russian.
    //ul.list-inline.pull-right
    //  li
    //    a(href='#TODO') Terms of Use
    //  li
    //    a(href='#TODO') Privacy Policy
