#shareEventBox
  h4 Поделиться ссылкой

  // by Nesteruk: target='_blank' was not working for me
  a.btn.btn-social-icon.btn-sm.btn-vk(onclick="window.open('http://vkontakte.ru/share.php?url=#{social.path}', 'newwindow', 'width=600, height=500'); return false;")
    i.fa.fa-vk

  a.btn.btn-social-icon.btn-sm.btn-facebook(onclick="window.open('https://facebook.com/sharer/sharer.php?u=#{social.path}', 'newwindow', 'width=600, height=500'); return false;")
    i.fa.fa-facebook

  a.btn.btn-social-icon.btn-sm.btn-twitter(onclick="window.open('https://twitter.com/intent/tweet?url=#{social.path}&text=#{social.tweet}', 'newwindow', 'width=600, height=500'); return false;")
    i.fa.fa-twitter