lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

bin
pids
logs
results
tmp

npm-debug.log
node_modules
.idea
*.iml
.DS_Store
Thumbs.db

public/css/styles.css
public/upload

builtAssets

wiki/

.c9revisions/
.settings
