extends layout

include mixins

block content
  h1 Отзывы и предложения
  div
    | Если у Вас возникли вопросы или предложения по данному сервису,
    | Вы можете оставить их здесь.
  #comments
    include partials/disqus

