extends layout

block content
  h1 MeetUA
  p.lead Лучшие события Киева

  div(ng-controller='SelectEventCtrl')
    div.act_bar
      act-icon(ng-model='data.selectedAct', activity='{{activity.name}}', text-over='{{activity.textOver}}', ng-repeat='activity in activities')
      div.clearfix

    .row
      .col-md-4.preview_events_box
        div.preview_event(
            ng-repeat="event in foundEvents"
            ng-click="viewEvent(event)"
            ng-mouseenter="onEventOver(event)"
            ng-mouseleave="onEventOut()"
          )
          include partials/preview-event
      .col-md-8
        google-map(center="map.center", zoom="map.zoom", draggable="true", options="map.opts")
          markers(models="mapEvents", coords="'self'")
