extends layout

mixin act_icon(cssClass)
  div.border(ng-class="{selected: selectedAct == '#{cssClass}'}" ng-click="onActClick('#{cssClass}')")
    div(class="#{cssClass}")

block content
  h1 MeetUA
  p.lead
    | События в Киеве

    div(ng-controller='SelectEventCtrl')
      ul.nav.nav-tabs
        li.active
          a(href='#find_event') Найти
        li
          a(href='#') Создать

      .tab-content
        #find_event.tab-pane.active
          div.act_bar
            +act_icon('bike')
            +act_icon('running')
            +act_icon('workout')
            +act_icon('hiking')
            +act_icon('photo')
            +act_icon('en')
            +act_icon('code')
      .row(style="clear: both;")
        .col-md-4
          div(ng-repeat="event in foundEvents")
            div {{event.title}}
            div {{event.address}}
            div {{event.startDate}}
            div(style="margin-bottom: 10px;")
        .col-md-8
          google-map(center="map.center" zoom="map.zoom" draggable="true")
            markers(models='foundEvents', coords="'self'")


