extends layout

include mixins

block content
  h1 MeetUA
  p.lead Лучшие события Киева

  div(ng-controller='SelectEventCtrl')
    div.act_bar
      +actIcon('selectedAct', 'bike')
      +actIcon('selectedAct', 'running')
      +actIcon('selectedAct', 'workout')
      +actIcon('selectedAct', 'hiking')
      +actIcon('selectedAct', 'photo')
      +actIcon('selectedAct', 'en')
      +actIcon('selectedAct', 'code')
      div.clearfix

    .row
      .col-md-4.preview_events_box
        div.preview_event(
            ng-repeat="event in foundEvents"
            ng-click="viewEvent(event)"
            ng-mouseenter="onEventOver(event)"
            ng-mouseleave="onEventOut()"
          )
          a.event_title(ng-href="/event/{{event.id}}") {{event.title}}
          div.event_date {{event.startDate}}
          div.event_address {{event.address}}
          div(style="margin-bottom: 10px;")

      .col-md-8
        google-map(center="map.center", zoom="map.zoom", draggable="true", options="map.opts")
          markers(models="mapEvents", coords="'self'")
