extends layout
block content
  .page-header
    h3 Мои События
  div(ng-controller='SelectAuthorsEventCtrl')
    .row
      .col-md-4.preview_events_box
        div.preview_event(
        ng-repeat="event in foundEvents"
        ng-click="viewEvent(event)"

       )
         a.event_title(ng-href="/event/{{event._id}}") {{event.name}}
         div.event_date {{event.start.date}}
         div.event_address {{event.place.name}}
         div(style="margin-bottom: 10px;")
      .col-md-8
          div.edit_event(
          ng-class="selectedEvent"
          ) preview\edit area
          div.event_disc {{selectedEvent._id}}
