#footer
  .container
    div.list-inline.text-center MeetUA © 2014 Сделано в Украине

    // TODO: Add real Terms and Privacy in russian.
    //ul.list-inline.pull-right
    //  li
    //    a(href='#TODO') Terms of Use
    //  li
    //    a(href='#TODO') Privacy Policy
