.row.preview_event_row
  div.event_logo_box
    div(ng-if="!event.logoUrl")
      div.no_image
    div(ng-if="event.logoUrl")
      dimensioned-img(ng-src='event.logoUrl', width='120')

  div
    a.event_title(ng-href="/event/{{event._id}}") {{event.name}}
    div.event_date(ng-attr-title='{{event.start.dateTime | prettyDateTime}}') {{event.start.dateTime | comingDateTime}}
    div.event_address {{event.place.name}}
    div(style="margin-bottom: 10px;")

  div.event_statistics
    div(ng-show="event.participantCount")
      span.event_label Участников:
      span {{event.participantCount}}
    div(ng-show="!event.participantCount")
      span.event_label Нет участников