div.hidden-xs
  a.btn.btn-social-icon.btn-lg.btn-vk(ng-click='authenticateVk()')
    i.fa.fa-vk
  a.btn.btn-social-icon.btn-lg.btn-facebook(ng-click='authenticateFb()')
    i.fa.fa-facebook
.row.visible-xs
  .col-xs-4
    a.btn.btn-block.btn-lg.btn-vk(ng-click='authenticateVk()')
      i.fa.fa-vk.visible-xs
      span.hidden-xs VK
  .col-xs-4
    a.btn.btn-block.btn-lg.btn-facebook(ng-click='authenticateFb()')
      i.fa.fa-facebook.visible-xs
      span.hidden-xs Facebook
  .col-xs-6