div
  if secrets.vkAuth
    a.btn.btn-social-icon.btn-lg.btn-vk(ng-click='authenticateVk()')
      i.fa.fa-vk
  if secrets.facebookAuth
    a.btn.btn-social-icon.btn-lg.btn-facebook(ng-click='authenticateFb()')
      i.fa.fa-facebook
