extends ../layout

block middle_content
  +jsVar("event", event)
  .page-header: h1 Вы успешно отменили событие #{event.name}

  #canceld_event
    h4
      span Все участники были оповещены
      a.btn.btn-default.btn-sm(href="/", role="button")
        i.fa.fa-reply
          | вернуться на главную