extends ../layout

include event-fields
include form-btns
include form

block content
  .page-header
      h3 Создать событие

  +form(ng-controller='CreateEventCtrl')
    +eventFields(true)
    +formBtns()