extends ../layout

include event-fields
include form-btns

block content
  .page-header
    h3 Редактировать событие

  +jsVar('event', event)
  +form(ng-controller='EditEventCtrl')
    +eventFields(false)
    +formBtns()