div.border.row-fluid(
  ng-class="{selected: ngModel == activity.name}",
  ng-click="onActClick()", style='position:relative;'
)
  .act_img(style="background-image: url('/img/activities/{{activity.img}}')")
    h2.text_over_container(ng-if='activity.textOver')
      span.text_over {{activity.textOver}}
