extends ../layout

block content
  .page-header: h1 #{title}
  form.form-horizontal(id='signup-form', method='POST', action='/signup')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='email') Email
      .col-sm-7
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus)
    .form-group
      label.col-sm-3.control-label(for='name') Имя
      .col-sm-7
        input.form-control(type='text', name='firstname', id='name', placeholder='Имя')
    .form-group
      label.col-sm-3.control-label(for='name') Фамилия
      .col-sm-7
        input.form-control(type='text', name='lastname', id='lastname', placeholder='Фамилия')
    .form-group
      label.col-sm-3.control-label(for='password') Пароль
      .col-sm-7
        input.form-control(type='password', name='password', id='password', placeholder='Пароль')
    .form-group
      label.col-sm-3.control-label(for='confirmPassword') Пароль ещё раз
      .col-sm-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Пароль ещё раз')
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-check
          | Зарегистрироваться
