extends ../email-layout
include ../mixins

block content
  - var href = appConfig.hostname + '/reset/' + token
  h1.h1
    Здравствуйте
    +safeUserName(', ', user, '.')
  p
    Вы получили это письмо, потому что вы (или кто-то другой) запросил восстановление пароля для Вашего аккаунта.<br/>
    |Пожалуйста, кликните по ссылке ниже или вставьте её в адресную строку Вашего браузера чтобы восстановить пароль :<br/>
    |Если вы не запрашивали восстановление пароля, проигнорируйте это сообщение и Ваш пароль останется прежним.<br/>
  h2.h2
    a(href=href)= href