- var href = appConfig.hostname + '/reset/' + token
h1
  a(href=href)= href
p.
  |text for template:<br/>
  |Здравствуйте #{user.name ? ', ' + user.name : '.'}<br/>
  |Вы получили это письмо, потому что вы (или кто-то другой) запросил восстановление пароля для Вашего аккаунта.<br/>
  |Пожалуйста, кликните по ссылке ниже или вставьте её в адресную строку Вашего браузера чтобы восстановить пароль :<br/>
  |Если вы не запрашивали восстановление пароля, проигнорируйте это сообщение и Ваш пароль останется прежним.<br/>