doctype html
html
  head
    title Страница не найдена
    != css('error-page')
  body
    .dialog
      h1 Cтраница не найдена
      p К сожалению, мы не можем найти такую страницу
      a(href='/') Перейти главную
