doctype html
html
  head
    title Ошибка сервера
    != css('error-page')
  body
    .dialog
      h1 Ошибка сервера
      p Попробуйте обновить страницу. Если проблема не исчезла, то мы уже работаем над ней
      a(href='/') Перейти главную
