extends layout

block content
  h1 MeetUA
  p.lead Лучшие события Киева

  div(ng-controller='SelectEventCtrl')
    div.act_bar
      act-icon(ng-model='data.selectedAct', activity='activity', ng-repeat='activity in activities')
      div.clearfix

    .row
      .col-md-4.preview_events_box
        div.events_view(ng-show="foundEvents.length > 0")
          div.preview_event(
              ng-repeat="event in foundEvents"
              ng-click="viewEvent(event)"
              ng-mouseenter="onEventOver(event)"
              ng-mouseleave="onEventOut()"
            )
            include partials/preview-event
        div.ng-cloak.no_events_home(ng-hide="foundEvents.length > 0")
          h3.no-event-msg Нет событий в списке
          a.button#no-event-btn.btn.btn-primary(role='button' ng-href='/event/create')
           i.fa.fa-hand-o-right
           |Создайте новое событие
      .col-md-8
        google-map(center="map.center", zoom="map.zoom", draggable="true", options="map.opts")
          markers(models="mapEvents", coords="'self'")
