extends ../layout


block content
  +jsVar("event", event)
  .page-header
    h3 Вы успешно отменили событие #{event.name}

  #canceld_event
    h4
      span Все участники были оповещены
      a.btn.btn-default.btn-sm(href="/", role="button")
        i.fa.fa-reply
          | вернуться на главную