extends ../layout

include ../mixins
include event-fields

block content
    .page-header
        h3 Создать событие

    form.form-horizontal(role='form', method='POST', ng-controller='CreateEventCtrl', ng-submit='submit()', name='eventForm', novalidate)
      +eventFields(true)