extends ../layout

include event-fields

block content
  .page-header
    h3 Редактировать событие

  +jsVar('event', event)
  form.form-horizontal(role='form', method='POST', ng-controller='EditEventCtrl',
    ng-submit='submit()', name='eventForm', novalidate
  )
    .alert.alert-warning {{event}}
    +eventFields(false)