mixin formBtns()
  .form-group
    .col-sm-offset-2.col-sm-8
      button.btn.btn-default(type='submit', ng-disabled='eventForm.$invalid')
        i.fa.fa-mail-forward
        if isCreate
          | Создать событие
        else
          | Сохранить событие